<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Arken Digital Archive</title>
<link rel="stylesheet" type="text/css" href="/static/manifest.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header><img src="/static/logo.jpg"></header><table border="0">
<tr>
<th>Name</th>
<th>Last modified</th>
<th>Size</th>
</tr>
<tr>
<td><a href="shannon">shannon</a></td>
<td>27-08-2021 19:19:03</td>
<td align="right"></td>
</tr>
<tr>
<td><a href="unstable">unstable</a></td>
<td>28-08-2021 21:20:20</td>
<td align="right"></td>
</tr>
<tr>
<td><a href="logo.jpg">logo.jpg</a></td>
<td>20-05-2017 12:51:38</td>
<td align="right">10.1K</td>
</tr>
<tr>
<td><a href="solus.gpg">solus.gpg</a></td>
<td>11-09-2018 11:18:44</td>
<td align="right">3.1K</td>
</tr>
</table>
</body>
</html>
