<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name=description content="Meet Arken, A Distributed Digital Archive Built for the World's Open Source and Scientific Data.">
<link rel=apple-touch-icon sizes=57x57 href=/static/images/apple-icon-57x57.png>
<link rel=apple-touch-icon sizes=60x60 href=/static/images/apple-icon-60x60.png>
<link rel=apple-touch-icon sizes=72x72 href=/static/images/apple-icon-72x72.png>
<link rel=apple-touch-icon sizes=76x76 href=/static/images/apple-icon-76x76.png>
<link rel=apple-touch-icon sizes=114x114 href=/static/images/apple-icon-114x114.png>
<link rel=apple-touch-icon sizes=120x120 href=/static/images/apple-icon-120x120.png>
<link rel=apple-touch-icon sizes=144x144 href=/static/images/apple-icon-144x144.png>
<link rel=apple-touch-icon sizes=152x152 href=/static/images/apple-icon-152x152.png>
<link rel=apple-touch-icon sizes=180x180 href=/static/images/apple-icon-180x180.png>
<link rel=icon type=image/png sizes=192x192 href=/static/images/android-icon-192x192.png>
<link rel=icon type=image/png sizes=32x32 href=/static/images/favicon-32x32.png>
<link rel=icon type=image/png sizes=96x96 href=/static/images/favicon-96x96.png>
<link rel=icon type=image/png sizes=16x16 href=/static/images/favicon-16x16.png>
<title>Arken Digital Archive</title>
<link rel="stylesheet" type="text/css" href="/static/manifest.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header><a href="/"><img src="/static/images/logo.png"></a></header>
<table border="0">
<tr>
<th>Name</th>
<th>Size</th>
<th>Replications</th>
</tr>
{{range $val := .}}
<tr>
<td><a href="{{$val.Path}}">{{$val.Name}}</a></td>
<td align="right">{{if eq $val.Type "file" }} {{hsize $val.Size}} {{end}}</td>
<td align="right">{{if eq $val.Type "file" }} {{$val.Replications}} {{end}}</td>
</tr>
{{end}}
</table>
</body>
</html>
