<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Arken Digital Archive</title>
<link rel="stylesheet" type="text/css" href="/static/manifest.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header><img src="/static/logo.png"></header><table border="0">
<tr>
<th>Name</th>
<th>Size</th>
<th>Replications</th>
</tr>
{{range $val := .}}
<tr>
<td><a href="{{$val.Path}}">{{$val.Name}}</a></td>
<td align="right">{{if eq $val.Type "file" }} {{$val.Size}} {{end}}</td>
<td align="right">{{if eq $val.Type "file" }} {{$val.Replications}} {{end}}</td>
</tr>
{{end}}
</table>
</body>
</html>
